<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eSPJ</title>
    <script type="importmap"></script>

    <!-- Theme Colors -->
    <meta name="theme-color" content="#f97316">
    <meta name="msapplication-navbutton-color" content="#f97316">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Mobile Optimization -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="SPJ Angkut">

    <!-- iOS Icons -->
    <link rel="apple-touch-icon" href="~/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/icons/icon-180x180.png">

    <!-- Windows Tiles -->
    <meta name="msapplication-TileImage" content="/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#f97316">

    <link rel="manifest" href="~/manifest.json" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/watch.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/website.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eSPJ.styles.css" asp-append-version="true" />
     @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-gray-100">
      
            @RenderBody()
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        lucide.createIcons();
    });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
     <dynamic-section name="scripts" />
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
        .then(() => console.log('Service Worker registered'));
    }
    </script>
    

</body>
</html>
